body, html {
height: 100%;
font-family:Times New Roman;
color:white;
}
body{
height: 100%;
background-image: url("image/background.png");
 background-repeat:repeat;
 
}

input[type=text],[type=password]{
	width:80%;
	margin:2%;
	
}


.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}


button {
  display: inline-block;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
  float:left;
	background-color:#152732;
	color:white;
	padding:1.5%;


}
.sendbutton
{
	display: inline-block;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
  float:left;
	background-color:#152732;
	color:white;
	padding:1.5%;
	width:10%;

}

button:hover {background-color: #2b4c61}

button:active {
  background-color: #2b4c61;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
.changecolor{
 color: red;
  -webkit-animation-name: colors; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 200;
  animation-name: colors;
  animation-iteration-count: 200;
  animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes colors {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}

/* Standard syntax */
@keyframes colors {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 30%;
  margin: 1.5%;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}
.display
{
   
    float:right;
	height:84%;
	width:96%;
	margin:2%;
     	
}

